@use './partials/variables' as *;
@import"node_modules/bootstrap/scss/bootstrap";

img {
    max-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }